<i title="Zakończono realizację, powinien być protokół odbioru" class="font-large fa font-large fa-check"></i>
<i title="Zakończono finansowanie" class="font-green font-large fa font-large fa-money"></i>
<i title="Po zakończeniu realizacji brak protokołu odbioru" class="font-yellow  font-large fa font-large fa-warning"></i>
<i title="Po rozpoczęciu projektu brak umowy" class="font-red-pink font-large fa font-large fa-warning"></i>
<i title="Po zakończeniu realizacji brak umowy i protokołu odbioru" class="font-red font-large fa font-large fa-warning"></i>
<i title="Po zakończeniu realizacji projekt jest dodany do bazy projektów" class="owl owl-1"></i>
<i title="Mimo zakończenia realizacji projekt nie jest dodany do bazy projektów" class="owl owl-1"><span class="through"></span></i>
<i title="Projekt opóźniony względem harmonogramu" class="font-large fa font-large fa-clock-o font-red"></i>
<a href="/client_projects/view/{{id}}"><i title="Przejście do strony projektu" class="font-large fa font-large fa-list-ul"></i></a>
