<!--<span ng-hide="readonly" ng-click="checked()" class="box-checkbox" ng-class="{'checked':done}">✔</span>-->
<span class="fa fa-map-marker"></span>
<span ng-transclude></span>

<div class='realization_confirmation' ng-hide='done || readonly'>
<!--<div ng-hide="readonly" class='realization_confirmation'>-->
   
    <span ng-show="!show_confirmaiton" ng-click='show_confirmaiton = !show_confirmaiton' class='animate-if'>Oznacz realizację </span>
    <span ng-show="show_confirmaiton" ng-click='show_confirmaiton = !show_confirmaiton ' class='animate-if'>Klient otrzyma częsciowy protokół odbioru</span>

    <a ng-show="show_confirmaiton" 
       href="javascript:;"
       class="btn btn-xs green-haze font-white" 
       ng-click='checked();show_confirmaiton = !show_confirmaiton;done=true;'
       tooltip="">
        Oznacz
    </a>
    
    <a ng-show="show_confirmaiton" 
       href="javascript:;"
       ng-click='show_confirmaiton = !show_confirmaiton '
       class="btn btn-xs grey-cascade font-white" 
       tooltip="">
        Anuluj
    </a>

</div>

<div class='realization_confirmation' ng-show='done && !readonly'>
<!--<div ng-hide="readonly" class='realization_confirmation'>-->
    <span>Oznaczony jako zrealizowany </span>
    
</div>